:root {
  font-family: 'Agrandir', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light;
  color: #16114f;
  background: linear-gradient(180deg, #b7dde7 0%, #fff 100%);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #5935b4;
  text-decoration: none;
}
a:hover {
  color: #16114f;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 3px solid #16114f;
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #d9ff69;
  color: #16114f;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 0 #16114f;
  text-transform: uppercase;
}
button:hover {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #16114f;
}
button:active {
  transform: translateY(8px);
  box-shadow: 0 0 0 #16114f;
}
button:focus,
button:focus-visible {
  outline: 3px solid #d9ff69;
  outline-offset: 2px;
}
